<div class="product-list-container pt-3">
    <h3 *ngIf="!productsInCart.length">Your card is empty</h3>
    <div *ngFor="let i of productsInCart; let no=index" class="product-list-item mt-2">
        <div class="product-image">
            <img [src]="i.imgUrl" class="my-auto mx-auto">
        </div>
        <div class="product-details ml-4">
            <h3>{{i.productName}}</h3>
            <p *ngFor="let details of i.productDetails">{{details}}</p>
        </div>
        <div class="ml-auto mr-4 mt-4" (click)="removeFromCart(no)">
            <span class="iconify" data-icon="ant-design:delete-filled" data-inline="false"></span>
        </div>
    </div>

</div>
