<div class="product-list-container pt-3">
    <div class="product-list-item">
        <div class="product-image">
            <img src="assets/product-list/laptop.png" class="my-auto mx-auto">
        </div>
        <div class="product-details ml-4">
            <h3>Samsung laptop</h3>
            <p>8 GB ram</p>
            <p>i9 Processor</p>
        </div>
        <div class="ml-auto mr-4 mt-4">
            <span class="iconify" data-icon="ant-design:delete-filled" data-inline="false"></span>
        </div>
    </div>

</div>
